<div class="home-page-component">

    <div class="header text-mobile-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <i class="fa fa-home"></i> {{ getGreeting() }}, please enjoy your stay.
                </div>
                <div class="col-md-6 text-right text-mobile-center">
                    <small class="text-highlight">{{ currentTime | date : 'EEEE, d MMM, y' }}</small>
                    {{ currentTime | date : 'HH:mm:ss' }}
                </div>
            </div>
        </div>
    </div>

    <div class="weather text-mobile-center" *ngIf="weather">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-6 text-left text-mobile-center">
                    </div>
                    <div class="col-md-6 text-mobile-center">
                        <div class="o-grid">
                            <div class="o-grid__col text-right weather-icon">
                                <i class="fa fa-2x {{ getWeatherIcon(weather.weatherShortDescription) }}"></i>
                            </div>
                            <div class="o-grid__col o-grid__col--fixed text-align-left">
                                {{ weather.name }}, {{ roundWeatherTemperature(weather.temperature) }}
                                <div>
                                    <div class="text-highlight text-small">
                                        {{ titleCase(weather.weatherDescription) }}
                                        <span (click)="refreshWeather()"
                                              title="Can only check the weather once per hour. Last checked on {{ weather.timestamp | date : 'EEEE, d MMM, y HH:mm' }}.">
                                        <i class="fa fa-refresh cursor-pointer text-highlight--hover" [ngClass]="{'fa-spin': isCheckingWeather }"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="links">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="links__link">
                        <div class="links__link__heading">
                            <i class="fa fa-film"></i> Media
                        </div>
                        <a *ngFor="let item of mediaLinks" [href]="item.url">
                            <div class="links__link__item">
                                <div class="row">
                                    <div class="col-10">
                                        <img [src]="item.iconUrl" alt="{{ item.name }} Logo"> {{ item.name }}
                                    </div>
                                    <div class="col-2 text-center">
                                        <url-health-checker [url]="item.url" [host]="item.host" [port]="item.port" [isSecure]="item.isSecure"></url-health-checker>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="links__link">
                        <div class="links__link__heading">
                            <i class="fa fa-briefcase"></i> Productivity
                        </div>
                        <a *ngFor="let item of productivityLinks" [href]="item.url">
                            <div class="links__link__item">
                                <div class="row">
                                    <div class="col-10">
                                        <img [src]="item.iconUrl" alt="{{ item.name }} Logo"> {{ item.name }}
                                    </div>
                                    <div class="col-2 text-center">
                                        <url-health-checker [url]="item.url" [host]="item.host" [port]="item.port" [isSecure]="item.isSecure"></url-health-checker>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="links__link">
                        <div class="links__link__heading">
                            <i class="fa fa-cog"></i> System
                        </div>
                        <a *ngFor="let item of systemLinks" [href]="item.url">
                            <div class="links__link__item">
                                <div class="row">
                                    <div class="col-10">
                                        <img [src]="item.iconUrl" alt="{{ item.name }} Logo"> {{ item.name }}
                                    </div>
                                    <div class="col-2 text-center">
                                        <url-health-checker [url]="item.url" [host]="item.host" [port]="item.port" [isSecure]="item.isSecure"></url-health-checker>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="links__link">
                        <div class="links__link__heading">
                            <i class="fa fa-wrench"></i> Tools
                        </div>
                        <a *ngFor="let item of toolsLinks" [href]="item.url">
                            <div class="links__link__item">
                                <div class="row">
                                    <div class="col-10">
                                        <img [src]="item.iconUrl" alt="{{ item.name }} Logo"> {{ item.name }}
                                    </div>
                                    <div class="col-2 text-center">
                                        <url-health-checker [url]="item.url" [host]="item.host" [port]="item.port" [isSecure]="item.isSecure"></url-health-checker>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
