<div class="home-page-component">

    <div class="header text-mobile-center">
        <div class="container">
            <div class="o-grid">
                <div class="o-grid__col o-grid__col--fixed">
                    <i class="fa fa-home"></i> {{ getGreeting() }}, please enjoy your stay.
                </div>
                <div class="o-grid__col">
                    <div class="c-input-group mx-3">
                        <div class="o-grid">
                            <div class="o-grid__col">
                                <input class="c-field c-field--small c-field--icon-post" type="text" placeholder="Search the web..." (change)="searchWeb()" [(ngModel)]="webQuery">
                            </div>
                            <div class="o-grid__col o-grid__col--fixed">
                                <div class="c-icon c-icon--small c-icon--post"><i class="fa fa-google"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-grid__col o-grid__col--fixed text-right text-mobile-center">
                    <small class="text-highlight">{{ currentTime | date : 'EEEE, d MMM, y' }}</small>
                    {{ currentTime | date : 'HH:mm:ss' }}
                </div>
            </div>
        </div>
    </div>

    <div class="weather text-mobile-center">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-8 text-left text-mobile-center">
                        <div class="row" *ngIf="stats">
                            <div class="col-md-4">
                                <div class="stat">
                                    <div class="o-grid">
                                        <div class="o-grid__col o-grid__col--fixed">
                                            <i class="fa fa-microchip"></i>
                                        </div>
                                        <div class="o-grid__col">
                                            <div class="o-grid">
                                                <div class="o-grid__col">
                                                    <small class="text-small">{{ stats.cpuUsage.percentage }}%</small>
                                                </div>
                                                <div class="o-grid__col o-grid__col--fixed">
                                                    <small class="text-small">CPU</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="custom-progress-bar">
                                        <div class="custom-progress-bar__fill" style="width:{{ stats.cpuUsage.percentage }}%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="stat">
                                    <div class="o-grid">
                                        <div class="o-grid__col o-grid__col--fixed">
                                            <i class="fa fa-object-group"></i>
                                        </div>
                                        <div class="o-grid__col">
                                            <div class="o-grid">
                                                <div class="o-grid__col">
                                                    <small class="text-small">{{ stats.memoryUsage.used }} GiB / {{ stats.memoryUsage.total }} GiB</small>
                                                </div>
                                                <div class="o-grid__col o-grid__col--fixed">
                                                    <small class="text-small">Memory</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="custom-progress-bar">
                                        <div class="custom-progress-bar__fill" style="width:{{ getPercentageFor(stats.memoryUsage.percentage) }}%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="stat">
                                    <div class="o-grid">
                                        <div class="o-grid__col o-grid__col--fixed">
                                            <i class="fa fa-hdd-o"></i>
                                        </div>
                                        <div class="o-grid__col">
                                            <div class="o-grid">
                                                <div class="o-grid__col">
                                                    <small class="text-small">{{ bytesToGigaBytes(stats.diskUsage.used)}} GiB / {{ bytesToGigaBytes(stats.diskUsage.total) }} GiB</small>
                                                </div>
                                                <div class="o-grid__col o-grid__col--fixed">
                                                    <small class="text-small">Disk</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="custom-progress-bar">
                                        <div class="custom-progress-bar__fill" style="width:{{ getPercentageFor(stats.diskUsage.percentage) }}%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-mobile-center">
                        <weather></weather>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="links">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="links__link">
                        <div class="links__link__heading">
                            <i class="fa fa-film"></i> Media
                        </div>
                        <a *ngFor="let item of mediaLinks">
                            <plex-link *ngIf="item.name.toUpperCase() === 'PLEX'" [item]="item"></plex-link>
                            <custom-link *ngIf="item.name.toUpperCase() !== 'PLEX'" [item]="item"></custom-link>
                        </a>
                        <add-link *ngIf="isEditing" [category]="'media'" [sortOrder]="getLastSortOrder(mediaLinks)" (item)="mediaLinks.push($event)"></add-link>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="links__link">
                        <div class="links__link__heading">
                            <i class="fa fa-briefcase"></i> Productivity
                        </div>
                        <a *ngFor="let item of productivityLinks">
                            <custom-link [item]="item"></custom-link>
                        </a>
                        <add-link *ngIf="isEditing" [category]="'productivity'" [sortOrder]="getLastSortOrder(productivityLinks)" (item)="productivityLinks.push($event)"></add-link>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="links__link">
                        <div class="links__link__heading">
                            <i class="fa fa-cog"></i> System
                        </div>
                        <a *ngFor="let item of systemLinks">
                            <custom-link [item]="item"></custom-link>
                        </a>
                        <add-link *ngIf="isEditing" [category]="'system'" [sortOrder]="getLastSortOrder(systemLinks)" (item)="systemLinks.push($event)"></add-link>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="links__link">
                        <div class="links__link__heading">
                            <i class="fa fa-wrench cursor-pointer text-hover" (click)="isEditing = !isEditing"></i> Tools
                        </div>
                        <a *ngFor="let item of toolsLinks">
                            <custom-link [item]="item"></custom-link>
                        </a>
                        <add-link *ngIf="isEditing" [category]="'tools'" [sortOrder]="getLastSortOrder(toolsLinks)" (item)="toolsLinks.push($event)"></add-link>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="text-mobile-center" *ngIf="lastDeploy || lastBuild">
        <div class="container">
            <div class="wrapper text-mobile-center">
                <div class="o-grid">
                    <div class="o-grid__col" *ngIf="lastDeploy">
                        <small class="text-highlight text-small" *ngIf="lastDeploy.finishedAt">Last deploy at {{ lastDeploy.finishedAt | date : 'HH:mm d MMM y' }}.</small>
                        <small class="text-highlight text-small" *ngIf="!lastDeploy.finishedAt"><i class="fa fa-spin fa-spinner"></i> Deploying...</small>
                    </div>
                    <div class="o-grid__col" *ngIf="lastBuild">
                        <small class="text-highlight text-small" *ngIf="lastBuild.finishedAt">Last build at {{ lastBuild.finishedAt | date : 'HH:mm d MMM y' }}. Result was
                            '{{ buildConclusion[lastBuild.conclusion] }}'.</small>
                        <small class="text-highlight text-small" *ngIf="!lastBuild.finishedAt"><i class="fa fa-spin fa-spinner"></i> Building... Status is '{{ buildStatus[lastBuild.status] }}'.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
