@import "../../styles/utility/variables";

.home-page-component {
    .header {
        background-color: rgba(255, 255, 255, 0.05);
        padding: 15px;
    }

    .links {
        margin: 15px 0;

        &__link {
            &__heading {
                color: rgba(255, 255, 255, 0.75);
                font-size: 1.5rem;
            }

            a {
                color: rgba(255, 255, 255, 0.75);
                text-decoration: none;
            }
        }
    }

    .wrapper {
        background-color: rgba(255, 255, 255, 0.05);
        padding: 15px;
        margin: 15px 0;
        border-radius: 3px;
    }

    .stat {
        i {
            font-size: 2rem;
            margin-right: 15px;

            @media(max-width: $mobile-width) {
                font-size: 1rem;
                margin-right: 0;
            }
        }

        @media(max-width: $mobile-width) {
            margin-bottom: 15px;
        }
    }
}