<div class="link" *ngIf="item && !isDeleted">
    <div class="link__content">
        <div class="o-grid">
            <div class="o-grid__col">
                <img [src]="item.iconUrl" alt="{{ item.name }} Logo"> {{ item.name }}
            </div>
            <div class="o-grid__col o-grid__col--fixed">
                <url-health-checker [url]="item.url" [host]="item.host" [port]="item.port" [isSecure]="item.isSecure"></url-health-checker>
            </div>
            <div class="o-grid__col o-grid__col--fixed u-ml-1 remove-link-wrapper">
                <div class="remove-link-icon" (click)="$event.preventDefault(); isDeleting = !isDeleting">
                    <i class="fa fa-trash"></i>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isDeleting" class="link__details">
        Are you sure?
        <div class="o-grid">
            <div class="o-grid__col u-mr-1">
                <button class="btn btn-outline-light w-100" (click)="$event.preventDefault(); isDeleting = !isDeleting">Cancel</button>
            </div>
            <div class="o-grid__col">
                <button class="btn btn-danger w-100" (click)="$event.preventDefault(); deleteLink()">Delete</button>
            </div>
        </div>
    </div>
</div>