$directions: ('', ''), ('t', '-top'), ('b', '-bottom'), ('l', '-left'), ('r', '-right');
$actions: ('m', 'p');

@mixin gutters {
    @each $action in $actions {
        @each $direction, $postfix in $directions {
            @for $i from 0 through 5 {
                .u-#{$action}#{$direction}-#{$i} {
                    @if $action == 'm' {
                        @if ($i > 1) {
                            margin#{$postfix}: #{$i * (($i - 1) * 0.25)}rem !important;

                        } @else {
                            margin#{$postfix}: #{$i * 0.25}rem !important;

                        }
                    }
                    @if $action == 'p' {
                        @if ($i > 1) {
                            padding#{$postfix}: #{$i * (($i - 1) * 0.25)}rem !important;

                        } @else {
                            padding#{$postfix}: #{$i * 0.25}rem !important;

                        }
                    }
                }

            }
        }
    }
}

@include gutters;


