<div class="radarr__details" *ngIf="activity">
    <div class="o-grid o-grid--static">
        <div class="o-grid__col o-grid__col o-grid__col--equal">
            <div class="c-widget-stat radarr-activity">
                {{ activity.totalNumberOfMovies }}
                <div class="small">Total</div>
            </div>
        </div>
        <div class="o-grid__col o-grid__col--equal">
            <div class="c-widget-stat radarr-activity">
                {{ activity.totalNumberOfQueuedMovies }}
                <div class="small">Queued</div>
            </div>
        </div>
        <div class="o-grid__col o-grid__col--equal">
            <div class="c-widget-stat radarr-activity">
                {{ activity.totalMissingMovies }}
                <div class="small">Missing</div>
            </div>
        </div>
    </div>
</div>