.url-health-checker {
  .response-time {
    position: relative;
    top: -15px;
    height: 0;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);

    &__fast{
      color: rgba(0, 255, 0, 0.5);
    }

    &__slow{
      color: rgba(231, 76, 60, 0.5);
    }
  }
}
