<div class="url-health-checker o-grid o-grid--row text-right">
  <div class="o-grid__col">
    @if (isLoading) {
      <i class="fa fa-spin fa-spinner text-secondary" [title]="'Loading...'"></i>
    }
    @else if (status === 'up') {
      <i class="fa fa-check-circle text-success-custom" [title]="statusDescription"></i>
    }
    @else if (status === 'warning') {
      <i class="fa fa-info-circle text-warning" [title]="statusDescription"></i>
    }
    @else if (status === 'down') {
      <i class="fa fa-times-circle text-danger" [title]="statusDescription"></i>
    }
    @else if (status === '') {
      <i class="fa fa-question-circle text-secondary" [title]="statusDescription"></i>
    }
  </div>
  @if (responseTime >= 0 && responseTime < 10000 && status !== 'down') {
    <div class="o-grid__col response-time" [ngClass]="{'response-time__slow': responseTime > 1000, 'response-time__fast': responseTime < 100}">
      <small>{{ determineResponseTime(responseTime) }}</small>
    </div>
  }
</div>
