@import "../../styles/utility/variables";

.update-docker-apps-page-component {
    .wrapper {
        background-color: rgba(255, 255, 255, 0.05);
        padding: 15px;
        margin: 15px 0;
        border-radius: 3px;
    }
}