<div class="update-docker-apps-page-component">

  <top-info></top-info>

  <div class="text-mobile-center">
    <div class="container">
      <div class="text-mobile-center">

        <wide-button (click)="updateAllDockerApps()" [title]="'Update Docker Apps'"
          [icon]="'fas fa-cloud-download-alt'"
        [disabled]="!updateAllDockerAppsResult.finished"></wide-button>

        @if (updateAllDockerAppsResult.result.length > 0) {
          <div class="expandable-container">
            <div class="header" (click)="showLog = !showLog" [ngClass]="{'header--expanded': showLog}">
              <div class="o-grid">
                <div class="o-grid__col">
                  <div class="o-grid">
                    <div class="o-grid__col o-grid__col--fixed">
                      @if (!updateAllDockerAppsResult.finished) {
                        <div class="u-icon-wrapper"><i class="fa fa-spinner fa-spin"></i></div>
                      }
                      @if (updateAllDockerAppsResult.finished) {
                        <div class="text-green u-icon-wrapper"><i class="fa fa-check"></i></div>
                      }
                    </div>
                    <div class="o-grid__col">
                      Update Docker Apps Log
                    </div>
                  </div>
                </div>
                <div class="o-grid__col o-grid__col--fixed">
                  @if (showLog) {
                    <i class="fa fa-arrow-up"></i>
                  }
                  @if (!showLog) {
                    <i class="fa fa-arrow-down"></i>
                  }
                </div>
              </div>
            </div>
            @if (showLog) {
              <div class="body">
                <pre class="log-window" disabled="true" [innerHTML]="updateAllDockerAppsResult.result"></pre>
              </div>
            }
          </div>
        }

      </div>
    </div>
  </div>

  <deploy-info></deploy-info>

</div>